// Кольори, що використовуються
$green-Atlantis 		: rgb(173,209,54); //#ADD136
$dim-gray 				: rgb(102,102,102);
$white 					: rgb(255,255,255);
$citrus 				: rgb(153,197,10);
$grey 					: rgb(132,132,132);
$grey-matterhorn 		: rgb(81,81,81);
$grey-zambezi			: rgb(95,95,95);
$twilight-blue			: rgb(245,249,235);
$summer-sky				: rgb(38,166,209);
$light-cyan 			: rgb(226,248,255);



// Змінні кольорів
$cLogin-Btn 			: rgba($green-Atlantis,81);
$cNav-Text 				: $dim-gray;
$cWhite-Text 			: $white;
$cBanner-Btn			: $citrus;
$cCopyright 			: $grey;
$cText					: $grey-matterhorn;
$cTabs-Active			: $green-Atlantis;
$cTabs					: $grey-zambezi;
$bg-Find-Byers 			: $twilight-blue;

// Розміри шрифтів

// 
$content-width: 1020px;



// https://www.youtube.com/watch?v=casgv9Y8I1w - слайдер

// http://www.htmlcsscolor.com/hex/E2F8FF - название цветов

//  http://bootstrap-ru.com/203/components.php тут есть пример закладок